        <%= render 'partials/home/slider' %>
        <%= render 'partials/home/enjoy_your_meal' %>
        <%= render 'partials/home/testimonial' %>
        <%= render 'partials/home/gallery' %>


        <div class="container-fluid">
          <div class="row mt-xlg">

            <div class="col-md-6 p-none">
              <%= render 'partials/home/our_blog' %>
            </div>

            <div class="col-md-6 p-none">
              <%= render 'partials/home/our_team' %>
            </div>

          </div>
        </div>

        <%= render 'partials/home/special_menu' %>

