<!DOCTYPE html>
<html>
  <head>
    <%= render 'partials/head' %>
  </head>
  <body data-spy="scroll" data-target="#navSecondary">

    <div class="body">
      <%= render 'partials/header' %>

      <div role="main" class="main">
        <%= yield %>
      </div>

      <%= render 'partials/footer' %>
    </div>

    <%= javascript_include_tag theme_asset_path("js/main.js") %>

    <%= render 'partials/google_analytics' %>

  </body>
</html>
